
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 98%;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      display: block;
      text-decoration: none;
      padding: 20px;
      color: #ffffff;
      font-size: 16px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      &:hover {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  li.active {
    background-color: #fff;
    a {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.active_accounts {
  h3 {
    font-family: "Raleway", sans-serif;

  }
}

.new_account {
  font-family: "Raleway", sans-serif;
  p {
    display: inline-block;
  }
}

#show-modal {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 12%, rgba(247, 247, 247, 1) 24%, rgba(230, 230, 230, 1) 49%, rgba(225, 225, 225, 1) 73%, rgba(222, 222, 222, 1) 89%, rgba(212, 212, 212, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(12%, rgba(255, 255, 255, 1)), color-stop(24%, rgba(247, 247, 247, 1)), color-stop(49%, rgba(230, 230, 230, 1)), color-stop(73%, rgba(225, 225, 225, 1)), color-stop(89%, rgba(222, 222, 222, 1)), color-stop(100%, rgba(212, 212, 212, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 12%, rgba(247, 247, 247, 1) 24%, rgba(230, 230, 230, 1) 49%, rgba(225, 225, 225, 1) 73%, rgba(222, 222, 222, 1) 89%, rgba(212, 212, 212, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 12%, rgba(247, 247, 247, 1) 24%, rgba(230, 230, 230, 1) 49%, rgba(225, 225, 225, 1) 73%, rgba(222, 222, 222, 1) 89%, rgba(212, 212, 212, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 12%, rgba(247, 247, 247, 1) 24%, rgba(230, 230, 230, 1) 49%, rgba(225, 225, 225, 1) 73%, rgba(222, 222, 222, 1) 89%, rgba(212, 212, 212, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 12%, rgba(247, 247, 247, 1) 24%, rgba(230, 230, 230, 1) 49%, rgba(225, 225, 225, 1) 73%, rgba(222, 222, 222, 1) 89%, rgba(212, 212, 212, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d4d4', GradientType=1);
  -webkit-box-shadow: -9px -8px 103px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px -8px 103px -12px rgba(0,0,0,0.75);
  box-shadow: -9px -8px 103px -12px rgba(0,0,0,0.75);
}

.modal-mask {
  display: none;
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
  form{
    label, input, select {
      display: block;
      margin: 10px 0;
    }
  }
  .add_img {
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid silver;
    display: inline-block;
    width: auto;
  }
  .images{
    display: none;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        img {
          width: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

